fastapi[standard]
python-multipart
email-validator
passlib[bcrypt]
uvicorn
openai
langchain
pydantic
duckdb
pydantic-settings
pyjwt
psycopg[binary]
sqlmodel
emails
bcrypt==4.0.1
jinja2
pdfplumber 
python-docx
tenacity
alembic
psycopg-pool
tiktoken